.lista-supensa{
    display: flex;
    flex-direction: column;
}

.lista-supensa label{
    margin-bottom: .5rem;
    font-size: 24px;
}

.lista-supensa select{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 24px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
}